<mat-toolbar color="primary">
  <span>ToDo App</span>
</mat-toolbar>

<mat-card class="container">
  <div flexLayout="row" fxLayoutAlign="space-between">
    <mat-card-title>Todo App</mat-card-title>
    <button
      mat-icon-button
      color="accent"
      matTooltip="Clear all completed Todos"
      matTooltipPosition="left"
      (click)="clearCompletedTodos()"
    >
      <mat-icon>clear_all</mat-icon>
    </button>
  </div>
  <mat-card-content class="todo-input">
    <todo-adder></todo-adder>
    <todo-list></todo-list>
  </mat-card-content>
</mat-card>
