<mat-toolbar color="primary">
  <span>ToDo App</span>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div>
      <button mat-raised-button class="button-list-add">
        <span flexLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
          <mat-icon color="primary">add</mat-icon>
          <span class="mat-body-2">Add List</span>
        </span>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="container">
      <custom-card-header id="0"></custom-card-header>
      <mat-card-content class="todo-input">
        <todo-adder id="0"></todo-adder>
        <todo-list id="0"></todo-list>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
